<link rel=stylesheet href="/css/main-people_header.css">
<header class="header1">
	<div class="wrap">
		<a class="logo" href="/main"><%= myweb.title %></a>
		<ul>
			<li><a href="/main">首页</a></li>
			<li><a href="/explore">发现</a></li>
			<li><a href="/topic">话题</a></li>
	    </ul>
	    <img class="avatar" src="/img/<%= user.avatar %>">
	    <div class="user">
	    	<a href="/people/<%= user._id %>">我的主页</a>
			<a href="/signout">退出</a>
	    </div>
	</div>
</header>
<script type="text/javascript">
	$(document).ready( function () {
		$(".avatar").click(function(){
			$(".user").toggle()
		});

	})
</script>