
        <div class="header">
          <h1><%= myweb.title %></h1>
          <p><%= myweb.description %></p>
        </div>
        <a href="/signup">注册</a>
        <a href="/signin">登录</a>
         <% if (success) { %>
              <p><%= success %></p>
          <% } %>

          <% if (error) { %>
              <p><%= error %></p>
           <% } %>
           <br><br>
