<link rel=stylesheet href="/css/signup-signin_header.css">

<header class="header3">
    <div class="wrap">
        <h1 class="title">
            <%= myweb.title %>
        </h1>
        <p class="description">
            <%= myweb.description %>
        </p>
        <ul>
            <li>
                <a href="/signup">注册</a>
            </li>
            <li>
                <a href="/signin">登录</a>
            </li>
            <div class="clear"></div>
        </ul>
    </div>
</header>

