<%- include('header') %>

<link rel=stylesheet href="/css/main.css">

<%- include('components/main-people_header') %>

<div class="container">
	<div class="left_container">
		<div class="write_article">
			<ul>
				<li><a href="">提问</a></li>
				<li><a href="">回答</a></li>
				<li><a href="/write">写文章</a></li>
			</ul>
			<a href="" class="draft">草稿</a>
		</div>

		<% articles.forEach(function (article) { %>
			<%- include('components/article_content', { article: article }) %>
		<% }) %>
	</div>
	<div class="right_container">
		
	</div>
	<div class="clear"></div>
</div>

<%- include('footer') %>