<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>
        </title>
    </head>
    <body>
        <%- include('components/main-people_header') %>
		this is main page
        <br>
            <a href="/write">
                写文章
            </a>
        </br><br><br>
        <% articles.forEach(function (article) { %>
        <%- include('components/article_content', { article: article }) %>
        <% }) %>
    </body>
</html>
