<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
	</head>
	<body>
		<%- include('components/main-people_header') %>
		<%= user.name %><br>
		this is people page
	</body>
</html>
