<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
            <title>
                <%= myweb.title %>
            </title>
            <link href="/css/style.css" rel="stylesheet">
            </link>
        </meta>
    </head>
    <body>
        <%- include('components/signup-signin_header') %>
        <form method="post">
            <div>
                <label>
                    用户名
                </label>
                <input name="name" placeholder="用户名" type="text">
                </input>
            </div>
            <div>
                <label>
                    密码
                </label>
                <input name="password" placeholder="密码" type="password"/>
            </div>
            <div>
                <label>
                    重复密码
                </label>
                <input name="repassword" placeholder="重复密码" type="password">
                </input>
            </div>
            <input type="submit" value="注册">
            </input>
        </form>
    </body>
</html>