<%- include('header') %>

<link rel=stylesheet href="/css/sign.css">
<%- include('components/signup-signin_header') %>
<div class="sign">
    <div class="wrap">
        <form method="post">
            <div class="text">
                <input name="name" placeholder="用户名" type="text" />
                <input name="password" placeholder="密码" type="password"/>
                <input name="repassword" placeholder="确认密码" type="password"/>
            </div>
            <input class="submit" type="submit" value="注册"/>
        </form>
    </div>
</div>

<%- include('footer') %>
