<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
            <title>
                <%= myweb.title %>
            </title>
            <link href="/css/style.css" rel="stylesheet">
            </link>
        </meta>
    </head>
    <body>
        <form action="/write" method="post">
            <div>
                <label>
                    标题
                </label>
                <input name="title" type="text">
                </input>
            </div>
            <div>
                <label>
                    内容
                </label>
                <textarea name="content" rows="15">
                </textarea>
            </div>
            <input type="submit" value="发布">
            </input>
        </form>
    </body>
</html>
