<%- include('header') %>
<%- include('components/article_detail_header') %>

<link rel=stylesheet href="/css/write_edit.css">

<div class="wrap">
    <form action="/write" method="post">
        <h1>标题:</h1><input class="title" name="title" type="text">
        <h1>内容:</h1><textarea name="content" rows="15"></textarea>
        <input class="submit" type="submit" value="发布">
    </form>
</div>


<%- include('footer') %>