	.article{
		width: 620px;
		height: 250px;
		background-color: #fff;
		margin-bottom: 10px;
		box-shadow: 0 0 2px #000;
		padding: 20px;
	}
	.article .author_name{
		margin-bottom: 10px;
	}
	.article .author_name img{
		width: 26px;
		height: 26px;
		margin-right: 10px;
	}
	.article .author_name span{
		font-weight: 700;
		font-size: 14px;
		line-height: 26px;
	}
	.article .article_title{
		margin-bottom: 10px;
	}
	.article .article_title a{
		color: #000;
		font-weight: 700;
	}
	.article .article_title a:hover{
		color: #0f88eb;
	}
	.article .article_content{
		height: 140px;
		margin-bottom: 10px;
		overflow:hidden;
		text-overflow:ellipsis;
		-o-text-overflow:ellipsis;
	}
	.article .article_content img{
		height: 130px;
		width: 200px;
		float: left;
		margin-right: 20px; 
	}
	.article .article_content .content{
		float: left;
		width:390px;
	}
	.article .article_look{
		float: left;
		margin-right: 30px;
	}
	.article .article_commentsCount{
		float: left;
	}
	.article .article_time{
		float: right;
		color: #8590a6;
	}