/* ---------- 全局样式 ---------- */

body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-top: 40px;
}

a:hover {
  border-bottom: 3px solid #4fc08d;
}

.button {
  background-color: #4fc08d !important;
  color: #fff !important;
}


/* ---------- header ---------- */
.header h1,p{
  text-align:'center';

}